<div class="margin-top-20px">
  <%= link_to hc, method: :put, id: "checked-#{hc.id}" do%>
    <div class="flex-line padding-left-20px">
      <p class="color-black"><%= hc.checkpoint.title %></p>
      <% if hc.checked? %>
          <p class="margin-left-10px"><i class="fas fa-check check-pink"></i></p>
      <% else %>
          <div class="not-checked margin-left-10px margin-bottom-10px"></div>
      <% end %>
    </div>
  <% end %>
</div>
